
.ipynb_checkpoints/index with photo-checkpoint.ipynb
.ipynb_checkpoints/index-checkpoint.ipynb
referrence/index.html
referrence/index.md
don't submit/index.html
don't submit/index.md
don't submit/index.ipynb
don't submit/.ipynb_checkpoints/index-checkpoint.ipynb
